@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url('./DM_Sans/DMSans-Regular.ttf');
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url('./DM_Sans/DMSans-Medium.ttf');
}

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;

  --background-color-primary: #fe142f;
  --background-color-secondary: #232323;
  --background-color-tertiary: #c4c4c4;
  --background-color-quaternary: #ffffff;
  --background-color-quinary: #3876ac;
  --background-color-sextary: #279e7a;

  --color-font-primary: #000000;
  --color-font-secondary: #ffffff;
  --color-font-tertiary: #ff001b;
  --color-font-error: #e54858;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1360px;
  margin: 0 auto;
}

p {
  margin-top: 11px;
  margin-bottom: 13px;
}

img {
  padding-right: 1rem;
}

fieldset {
  border: none;
}

.topnav {
  overflow: hidden;
  margin: 53px 60px 84px;
  margin-right: 0;
}
.header-logo {
    float: left;
}
.main-navbar {
    float: right;
}
.topnav a {
  float: left;
  border-radius: 8px;
  display: block;
  text-underline-offset: 6px;
  line-height: 23.44px;
  color: var(--color-font-primary);
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: var(--background-color-primary);
  color: var(--color-font-secondary);
}

.topnav a.active {
  background-color: var(--background-color-primary);
  color: var(--color-font-secondary);
  text-decoration: underline;
}

.topnav .icon {
  display: none;
  color: var(--color-font-tertiary);
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  margin: 0 60px;
  border-radius: 2rem;
  text-align: justify;


}

.modal-btn {
  font-size: 145%;
  background: var(--background-color-primary);
  display: flex;
  margin: auto;
  padding: 2em;
  color: var(--color-font-secondary);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: var(--background-color-quinary);
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

/* Modal form */

.button {
  background: var(--background-color-primary);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--color-font-secondary);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: var(--background-color-quinary);
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 49px 39px;
  margin: 15px auto;
  width: 100%;
  max-width: 500px;
  min-height: 850px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: var(--background-color-secondary);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--color-font-secondary);
}

.modal-body .success-message,
#form-signup.submit-success {
  display: none;
}

#form-signup.submit-success ~ .success-message {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.success-message h2 {
  margin: auto 0;
  text-align: center;
  font-weight: normal;
  font-size: 2.25rem;
}

label {
  display: block;
  font-family: var(--font-default);
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 17px;
  line-height: 1;
}
input {
  padding: 8px;
  border: 1px solid var(--background-color-tertiary);
  outline: none;
}
.text-control {
  border: 2px solid var(--background-color-quaternary);
  margin: 0;
  padding: 16px 20px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
}
.formData[data-error]::after {
  content: attr(data-error);
  color: var(--color-font-error);
  display: block;
  font-size: 0.625rem;
  line-height: 0;
  margin-top: 11px;
  opacity: 0;
  transition: all 0.3s;
}
.formData.form-checkbox[data-error]::after {
  display: none;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
  line-height: 1;
  margin: 4px 0 5.5px;
}
.formData.form-checkbox[data-error-visible="true"]::after {
  display: block;
}
.formData[data-error-visible="true"] .text-control {
  border-color: var(--color-font-error);
}
.formData .form-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 24px;
}

.checkbox-label,
.checkbox2-label {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: flex;
  width: 25px;
  height: 25px;
  border: 1px solid var(--background-color-sextary);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-right: 6px;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 17px;
  height: 17px;
  background-color: var(--background-color-sextary);
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--background-color-sextary);
}
.checkbox2-label .checkbox-icon {
  border-radius: 6px;
  border: 0;
  background: var(--background-color-tertiary);
}
.checkbox2-label .checkbox-icon::after {
  width: 10px;
  height: 5px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: var(--background-color-quaternary);
  border-left-color: var(--background-color-quaternary);
  transform: rotate(-50deg);
  margin: 0 0 6px 1px;
}
.close {
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  top:0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: var(--background-color-quaternary);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
  background: var(--background-color-primary);
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: var(--color-font-secondary);
  cursor: pointer;
  border: 0;
}
/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: var(--background-color-quaternary);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: var(--background-color-primary);
  border-left-color: var(--background-color-primary);
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: var(--color-font-primary);
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--background-color-quaternary);
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}
.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  overflow: hidden;
  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);

}
.hero-content {
  padding: 51px 67px;
  background: var(--background-color-secondary);
  color: var(--color-font-secondary);
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-size: 6rem;
  font-weight: 500;
  white-space: nowrap;
}
.hero-text {
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
}
.hero-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.copyrights {
  color: var(--background-color-primary);
  padding: 0;
  font-size: 1rem;
  margin: 100px 0 60px;
  font-weight: bolder;
}
.hero-section > .btn-signup {
  display: none;
}
@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: var(--background-color-quaternary);
    color: var(--color-font-primary);
    padding: 20px;
    min-width: unset;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
    margin: 24px 0 40px;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 29px auto 0;
    padding: 12px 35px;
  }
  .copyrights {
    margin: 0 0 29px;
    font-size: 0.625rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  /*.topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }*/
}

@media screen and (max-width: 414px) {
  body {
    padding: 0 30px;
  }
  main {
    margin: 0;
  }
  .header-logo img {
    width: 108px;
  }
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0;
  }
  .hero-content {
    padding: 0;
  }
  .hero-headline {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 0.8125rem;
  }
  .copyrights {
    margin-top: 29px;
  }
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .formData label {
    margin-bottom: 10px;
  }
} 

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

